In [61]:
import numpy as np
import pandas as pd

In [78]:
df_chat = pd.read_csv('../data/jiyo-external-whatsapp-chat.csv', encoding='utf-8')
df_chat.head(3)

,index,date,time,a,user,message
0,0,08/10/18,12:29:11,PM,Gayatri Above,Mandanna standing in front of office and smoki...
1,1,08/10/18,12:44:05,PM,Mandanna Above,There is a calling feature on your phone?
2,2,08/10/18,01:03:42,PM,Gayatri Above,Only WhatsApp! Was in a cab..

In [79]:
def to_ascii(row):
    ascii_string = ''
    for char in row['message'] :
        if(ord(char) >= 0 and ord(char) <= 127) :
            ascii_string += char
    return ascii_string.strip()

In [80]:
df_chat['message_ascii'] = df_chat.apply(lambda row: to_ascii(row), axis = 1)

In [81]:
df_chat = df_chat.drop(df_chat[(df_chat['message_ascii'] == 'video omitted') | (df_chat['message_ascii'] == 'image omitted')].index)

In [82]:
df_chat['message_ascii'].replace('', np.nan, inplace=True)

In [83]:
df_chat.dropna(subset=['message_ascii'], inplace=True)

In [70]:
df_chat.shape

(447, 7)

In [86]:
df = df_chat.drop(['message'], axis=1)

In [87]:
df.describe(include='all')

             index      date      time    a            user message_ascii
count   447.000000       447       447  447             447           447
unique         NaN        42       442    2              22           412
top            NaN  11/12/18  01:25:37   PM  Mandanna Above     Thank you
freq           NaN        57         2  254              71            10
mean    253.257271       NaN       NaN  NaN             NaN           NaN
std     141.899568       NaN       NaN  NaN             NaN           NaN
min       0.000000       NaN       NaN  NaN             NaN           NaN
25%     134.500000       NaN       NaN  NaN             NaN           NaN
50%     255.000000       NaN       NaN  NaN             NaN           NaN
75%     375.500000       NaN       NaN  NaN             NaN           NaN
max     493.000000       NaN       NaN  NaN             NaN           NaN

In [89]:
df['user'].unique()

array(['Gayatri Above', 'Mandanna Above', '917406085272', '917204856845',
       'Shyam', 'Mohit Above', 'Pradeep Above', 'Samrajni Patil',
       'Giju Above', '918095379229', 'Pranay Sanam', 'Kuldeep T',
       'Aravind Above', 'Sandeep Above', 'Ravi', 'Arpita Above',
       '917353865923', 'Rashmi Above', 'Vikram', 'Akash Above',
       'Dhanya Above', 'Sithara'], dtype=object)

In [ ]:
# To-do analyse chat to see the summary per day